body{
  text-align: center;
}

h1{
  font-family: "Anybody", sans-serif;
  font-size: 40px;
}

h4{
  font-family: "Anybody", sans-serif;
  font-size: 25px;
}

h3{
  font-family: "Anybody", sans-serif;
  font-size: 30px;
}

#monsterName {
  text-align: center;
  font-size: 25px;
  width: 20%;
  height: 40px;
  margin-bottom: 50px;
}

button{
  font-size: 20px;
  padding: 10px 15px;
  border-radius: 15px;
}

p{
  font-family: "Anybody", sans-serif;
  font-size: 25px;
}
