* {
  padding: 0;
  margin: 0;
  font-family: "Jersey";
}

.title-bar {
  display: flex;
  font-size: 1.5em;
}

#title {
  padding-left: 20px;
  padding-top: 10px;
}

.search-bar {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 3%;
}

#search {
  margin-right: 5px;
  height: 45px;
  width: 200px;
  text-align: center;
}

#button {
  width: 60px;
}

.display-data {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-top: 5%;
}

.monster-description ul {
  list-style: none;
}
